<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Test1">
    <classes>
      <class name="TestNG_SeleniumTesting.LoginAppUsingTestNG"/>
      <class name="TestNG_GroupingAnnotationTesting.SanityGroupTesting"/>
      <class name="TestNG_BeforeAndAfterTestAnnotationsTesting.BeforeAndAfterTestAnnotationTest1"/>
      <class name="TestNG_BeforeAndAfterSuiteTestAnnotationsTesting.SuiteTest1"/>
      <class name="TestNG_BeforeAndAfterTestAnnotationsTesting.BeforeAndAfterTestAnnotationTest2"/>
      <class name="TestNG_BeforeAndAfterSuiteTestAnnotationsTesting.SuiteTest3"/>
      <class name="TestNG_BeforeAndAfterSuiteTestAnnotationsTesting.SuiteTest2"/>
      <class name="TestNG_GroupingAnnotationTesting.Sanity_Regression_FunctionalGroupTesting"/>
      <class name="TestNG_ClassAndMethodAnnotationsTesting.BeforeAndAfterClassAnnotations"/>
      <class name="TestNG_ClassAndMethodAnnotationsTesting.BeforeAndAfterMethodAnnotations"/>
      <class name="TestNG_GroupingAnnotationTesting.RegressionGroupTesting"/>
      <class name="TestNG_AllTestAnnotationsTesting.AllTestAnnotationsTesing"/>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Test2">
    <parameter name="browser" value="Chrome"></parameter>
    <classes>
      <class name="TestNG_ParallelTestingUsingXML.ParallelTestingUsingXML"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
